# Data Exploration: Toxic Comments

## Set Up: Load modules and training data

In [15]:
import numpy as np
import pandas as pd
import nltk

train = pd.read_csv("train.csv")

## Label Exploration

First we need to learn about the class labels. Pandas Categorical class makes it easy to 
cross-tab the different labels on comments, so start by transforming the integer labels to 
categorical.

In [16]:
for i in range(2,8):
    train.iloc[:,i] = pd.Categorical(train.iloc[:,i])
    
pd.crosstab(train.toxic, train.severe_toxic)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>severe_toxic</th>
      <th>0</th>
      <th>1</th>
    </tr>
    <tr>
      <th>toxic</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>86614</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8272</td>
      <td>965</td>
    </tr>
  </tbody>
</table>
</div>

As we might expect, all severely toxic comments are also toxic comments, but not all toxic 
comments are severe.

In [17]:
pd.crosstab(train.toxic, [train.obscene, train.threat, train.insult, train.identity_hate])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>obscene</th>
      <th colspan="8" halign="left">0</th>
      <th colspan="8" halign="left">1</th>
    </tr>
    <tr>
      <th>threat</th>
      <th colspan="4" halign="left">0</th>
      <th colspan="4" halign="left">1</th>
      <th colspan="4" halign="left">0</th>
      <th colspan="4" halign="left">1</th>
    </tr>
    <tr>
      <th>insult</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
    </tr>
    <tr>
      <th>identity_hate</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
    </tr>
    <tr>
      <th>toxic</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>86061</td>
      <td>38</td>
      <td>175</td>
      <td>14</td>
      <td>12</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>181</td>
      <td>1</td>
      <td>118</td>
      <td>10</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3449</td>
      <td>74</td>
      <td>754</td>
      <td>70</td>
      <td>79</td>
      <td>3</td>
      <td>8</td>
      <td>3</td>
      <td>1154</td>
      <td>23</td>
      <td>2904</td>
      <td>520</td>
      <td>10</td>
      <td>0</td>
      <td>128</td>
      <td>58</td>
    </tr>
  </tbody>
</table>
</div>

Interestingly, over a third of comments are "civilly" toxic, meaning they are neither obscene, 
insult, threat, nor identity hate, yet they are still disruptive. However, adding these labels 
greatly increases the prevalence of toxicity. The worst cases, the 58 comments that are all 
four of the above, are 100% toxic.

In [18]:
pd.crosstab(train.severe_toxic, [train.obscene, train.threat, train.insult, train.identity_hate])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead tr th {
        text-align: left;
    }

    .dataframe thead tr:last-of-type th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr>
      <th>obscene</th>
      <th colspan="8" halign="left">0</th>
      <th colspan="8" halign="left">1</th>
    </tr>
    <tr>
      <th>threat</th>
      <th colspan="4" halign="left">0</th>
      <th colspan="4" halign="left">1</th>
      <th colspan="4" halign="left">0</th>
      <th colspan="4" halign="left">1</th>
    </tr>
    <tr>
      <th>insult</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
      <th colspan="2" halign="left">0</th>
      <th colspan="2" halign="left">1</th>
    </tr>
    <tr>
      <th>identity_hate</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
      <th>0</th>
      <th>1</th>
    </tr>
    <tr>
      <th>severe_toxic</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>89488</td>
      <td>109</td>
      <td>921</td>
      <td>81</td>
      <td>83</td>
      <td>3</td>
      <td>10</td>
      <td>3</td>
      <td>1242</td>
      <td>20</td>
      <td>2413</td>
      <td>382</td>
      <td>9</td>
      <td>0</td>
      <td>84</td>
      <td>38</td>
    </tr>
    <tr>
      <th>1</th>
      <td>22</td>
      <td>3</td>
      <td>8</td>
      <td>3</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>93</td>
      <td>4</td>
      <td>609</td>
      <td>148</td>
      <td>2</td>
      <td>0</td>
      <td>45</td>
      <td>20</td>
    </tr>
  </tbody>
</table>
</div>

The cases of "civil" severely toxic comments are much rarer - there are only 22. Generally, a 
smaller portion of comments are severely toxic, no matter what other labels we condition on. 
Even in the worst cases, only 20 of the 58 obscene + threat + insult + identity hate comments 
are severely toxic.

In [21]:
# Convert the categorical data back to integers before correlations
for i in range(2, 8):
    train.iloc[:, i] = pd.to_numeric(train.iloc[:, i])

train.iloc[:, 2:8].corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>toxic</th>
      <th>severe_toxic</th>
      <th>obscene</th>
      <th>threat</th>
      <th>insult</th>
      <th>identity_hate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>toxic</th>
      <td>1.000000</td>
      <td>0.308810</td>
      <td>0.677491</td>
      <td>0.162967</td>
      <td>0.648330</td>
      <td>0.259124</td>
    </tr>
    <tr>
      <th>severe_toxic</th>
      <td>0.308810</td>
      <td>1.000000</td>
      <td>0.404540</td>
      <td>0.133469</td>
      <td>0.377450</td>
      <td>0.193385</td>
    </tr>
    <tr>
      <th>obscene</th>
      <td>0.677491</td>
      <td>0.404540</td>
      <td>1.000000</td>
      <td>0.149874</td>
      <td>0.744685</td>
      <td>0.287794</td>
    </tr>
    <tr>
      <th>threat</th>
      <td>0.162967</td>
      <td>0.133469</td>
      <td>0.149874</td>
      <td>1.000000</td>
      <td>0.157534</td>
      <td>0.123971</td>
    </tr>
    <tr>
      <th>insult</th>
      <td>0.648330</td>
      <td>0.377450</td>
      <td>0.744685</td>
      <td>0.157534</td>
      <td>1.000000</td>
      <td>0.331922</td>
    </tr>
    <tr>
      <th>identity_hate</th>
      <td>0.259124</td>
      <td>0.193385</td>
      <td>0.287794</td>
      <td>0.123971</td>
      <td>0.331922</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

The correlation matrix is another way of summarizing the relationships between labels,
although here we only see pair-wise correlations rather than the full cross-tabulation.
The story stays the same - all the correlations are positive, and the correlations for 
severe_toxic are always smaller than for toxic. 

The correlation matrix will make for a good sanity check later when making multi-class 
predicitons. We should expect the correlation matrix of the predicted probabilities to look 
very similar to this one, else something is likely awry.